{% if not payment_allowed %}
{{ message }}
{% else %}
Clicking on the buttons below you will be redirected to the ICBC site to complete your transaction. If you would like to
use <strong>Alipay, WeChatPay or China UnionPay cards</strong>, please click the <strong>"domestic"</strong> button. If
your bank card is issued by an <strong>overseas bank (e.g. VISA, Mastercard)</strong>, please select
<strong>"international"</strong> to pay your fee.

<dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
    <dt></dt>
    <dd>
        <form name="payment_form" action="{{ settings.url }}" method="POST">
            <input type="hidden" name="app_id" value="{{ app_id }}">
            <input type="hidden" name="msg_id" value="{{ msg_id }}">
            <input type="hidden" name="format" value="{{ format }}">
            <input type="hidden" name="charset" value="{{ charset }}">
            <input type="hidden" name="encrypt_type" value="{{ encrypt_type }}">
            <input type="hidden" name="sign_type" value="{{ sign_type }}">
            <input type="hidden" name="sign" value="{{ sign }}">
            <input type="hidden" name="timestamp" value="{{ timestamp }}">
            <input type="hidden" name="biz_content" value="{{ biz_content }}">

            <input type="hidden" name="url_foreign" value="{{ settings.url_foreign }}">
            <input type="hidden" name="sign_foreign" value="{{ sign_foreign }}">
            <input type="hidden" name="biz_content_foreign" value="{{ biz_content_foreign }}">

            <!-- <button type="submit" name="submit">
                <img src="{{ logo_url }}" alt="Submit">
            </button> -->
            <button type="submit" onclick="remove_additional_fields()">domestic</button>
            <button type="submit" onclick="international_payment()">international</button>
        </form>
    </dd>
</dl>
<script>
    function remove_additional_fields() {
        document.payment_form.url_foreign.remove()
        document.payment_form.biz_content_foreign.remove()
        document.payment_form.sign_foreign.remove()
    }
    function international_payment() {
        document.payment_form.action = document.payment_form.url_foreign.value
        document.payment_form.biz_content.value = document.payment_form.biz_content_foreign.value
        document.payment_form.sign.value = document.payment_form.sign_foreign.value
        remove_additional_fields()
    }
</script>
{% endif %}